<<<<<<< HEAD
﻿
@model IEnumerable<Busmanagemnetsystem.Controllers.BookingHistory>
=======
﻿@model IEnumerable<Busmanagemnetsystem.Controllers.BookingHistory>
>>>>>>> f5a9bced78bcf858fef19e20276d72583d968c16

@{
    ViewBag.Title = "Booking Histories";
}

<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        h2 {
            color: #343a40;
            font-size: 2em;
            margin-bottom: 20px;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
            background-color: transparent;
            border-collapse: collapse;
            margin: 20px 0;
        }

            .table th,
            .table td {
                padding: 12px;
                text-align: left;
                border-top: 1px solid #dee2e6;
            }

            .table th {
                background-color: #343a40;
                color: white;
            }

            .table tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .table tr:hover {
                background-color: #e9ecef;
            }

            .table a {
                color: #007bff;
                text-decoration: none;
            }

                .table a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    <div class="container">
        <h2>Booking Histories</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ticket.PassengerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket.PassengerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
=======
<h2>Booking Histories</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.PassengerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.PassengerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            
        </tr>
    }

</table>
>>>>>>> f5a9bced78bcf858fef19e20276d72583d968c16
